<p-dialog 
    header="{{poll.question}}" 
    width="400" 
    [(visible)]="this.showPoll" 
    modal="modal" 
    responsive="true" 
    (onAfterHide)="closeDialog()">

    <div *ngFor="let options of poll.options; let i=index" id="displayPoll_{{i}}">
        <div id="count_{{i}}" style="display: none;">{{poll.votes[i]}}</div> Vote for: {{options}} <button id="vote_{{i}}" type="button" pButton icon="fa-check" width="50px" (click)="vote(chart, i)" 
        *ngIf="!poll.voted" class="spacing">vote</button>
    </div>

    <p-chart type="bar" [data]="chartData" [options]="chartOptions" #chart ></p-chart>
    
</p-dialog> 