.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #1564ad;
	-webkit-box-shadow: 3px 4px 0px 0px #1564ad;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #59a8F9), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #59a8F9 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #59a8F9 5%, #378de5 100%);
	background:-o-linear-gradient(top, #59a8F9 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #59a8F9 5%, #378de5 100%);
	background:linear-gradient(to bottom, #59a8F9 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#59a8F9', endColorstr='#378de5',GradientType=0);
	background-color:#59a8F9;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
    margin-right: 10px;
    margin-top: 10px;
    max-width: 150px;
    min-width: 150px;
    min-height: 100px;
    max-height: 100px;
    text-align: center;
    vertical-align: top;
    overflow-y: auto;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #59a8F9));
	background:-moz-linear-gradient(top, #378de5 5%, #59a8F9 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #59a8F9 100%);
	background:-o-linear-gradient(top, #378de5 5%, #59a8F9 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #59a8F9 100%);
	background:linear-gradient(to bottom, #378de5 5%, #59a8F9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#59a8F9',GradientType=0);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}
.myButton p {
	padding: 0;
	margin: 0;
	word-wrap: break-word;

}
