StackLayout {
  top :10;
  width:600; 
  height:600;
  margin-left: 5;
  margin-right: 3;
  background-color: lightgray;
}

TextField {
  color: black;
}

label{
  height: 60px;
  left: 0;
  right: 0;
}
