.login{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #ccc;
    top: 0px;
    left: 0px;
    z-index: 900;
    padding-top: 100px;
}

.form-container {
    width: 400px;
    margin: auto;
}

.title {
    font-size:
}

.dialog{
    z-index: 1001;
}